In [1]:
df.info()

sns.scatterplot(x="Salary",y='JoiningDate', data=df)
plt.show()

# X = df.drop(['sales'], axis=1)
# y = df['sales]
# X.head()
# y.head()

NameError: name 'df' is not defined

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, t_test = train_test_split(X, y, test_size=0.2)
X_train.head()

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings
df = pd.read_csv("emp.csv")
print(df.Salary)
df.describe()

0    50000
1    60000
2    75000
3    55000
4    45000
Name: Salary, dtype: int64

       EmployeeID        Salary
count    5.000000      5.000000
mean   103.000000  57000.000000
std      1.581139  11510.864433
min    101.000000  45000.000000
25%    102.000000  50000.000000
50%    103.000000  55000.000000
75%    104.000000  60000.000000
max    105.000000  75000.000000